
body {
    background-color: #5F8575;
}

.titlee{
    font-family: "Butterfly Kids", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 80px;
    color: white;
}
.subtitlee{
    font-family: "Oregano", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.generate {
    background: white;
    width: 200px;
    height: 100px;
    font-family: "Grandstander", cursive;
    border: 5px double #93C572 ;
    color: #5F8575;
    text-align: center;
}
.gen{
    font-size: 35px;
}
.ad{
    font-size: 35px;
}
.re{
    font-size: 35px;
}
.reset {
    background: white;
    width: 200px;
    height: 100px;
    font-family: "Grandstander", cursive;
    border: 5px double #93C572 ;
    color: #5F8575;
    text-align: center;
}
.header {
    height: 150px;
    background: #C1E1C1;
    font-family: "Grandstander", cursive;
    
}
.sub-header{
    background-color: #5F8575;
    border:6px dotted #93C572;
}

.names-display {
    background: #C1E1C1;
    border:9px dotted white;
    min-height:400px;
}
.generated-name-display {
    background: #C1E1C1;
    border:9px dotted white;
    height:400px;
}

footer{
    background-color: #C1E1C1;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;

  }
  .plswork{
    font-family: 'Homemade Apple', cursive;
  }
  p{
    font-family: 'Englebert', cursive;
    margin: 0;
  }
  a{
    color: #93C572;
    font-family: 'Englebert', cursive;
  }